.inside-box {
    display: flex;
    flex-direction: column;
}

.inside-box h1 {
    font-size: 1.5rem;
    color: #C2554F;
    font-weight: 900;
    letter-spacing: -1px;
    text-align: center;
}

.getting-started {
    text-decoration: none;
    font-size: 1.8rem;
    align-self: center;
    color: #FE8A80;
}

.hero-line-decoration {
    border: 1px solid #FE8A80;
    width: 20rem;
    margin-bottom: 2rem;
}

.getting-started:hover .fa-arrow-right {
    transform: translate(1rem);
}

@media screen and (min-width: 1024px) {
    .inside-box h1 {
        font-size: 1.9rem;
    }
}


